{{ 'comingsoon.css' | asset_url | stylesheet_tag }}

{% if request.design_mode != true %}
        <div id="loader"></div>
        <script> 
            var url  = window.location.href;
            window.location.pathname == "/apps/fast-coming-soon" ? "" : window.location.href = "{{shop.url}}/apps/fast-coming-soon"; 
        </script>
{% endif %}

{% schema %}
{
  "name": "Enable Fast Coming Soon",
  "target": "head",
  "settings": [
        {
            "type": "paragraph",
            "content": "You can activate or deactivate your coming soon page by enabling or disabling above switch. You can select theme or customize your coming soon page from the 'Manage app' link below."
        }
  ]
}
{% endschema %}